services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file: .env
    environment:
    - MYSQL_DATABASE=${MYSQL_DATABASE}
    - MYSQL_USER=${MYSQL_USER}
    - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    - MYSQL_SECONDARY_USER=${MYSQL_SECONDARY_USER}
    - MYSQL_SECONDARY_USER_PASSWORD=${MYSQL_SECONDARY_USER_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    env_file: .env
    environment:
    - MYSQL_HOST=mariadb
    - MYSQL_DATABASE=${MYSQL_DATABASE}
    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    - MYSQL_USER=${MYSQL_USER}
    - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    - MYSQL_EMAIL=${MYSQL_EMAIL}
    - MYSQL_SECONDARY_USER=${MYSQL_SECONDARY_USER}
    - MYSQL_SECONDARY_USER_PASSWORD=${MYSQL_SECONDARY_USER_PASSWORD}
    depends_on:
      - mariadb
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    env_file: .env
    environment:
    - DOMAIN_NAME=${DOMAIN_NAME}
    ports:
      - "443:443"
    depends_on:
      - wordpress
      - static-site
    volumes:
      - wp_data:/var/www/html
      - static_site:/var/www/public
    networks:
      - inception
    restart: always

  redis:
    build: ./requirements/redis
    container_name: redis
    volumes:
      - redis_data:/data
    networks:
      - inception
    restart: always


  ftp:
    build: ./requirements/ftp
    container_name: ftp
    env_file: .env
    environment:
    - FTP_USER=${FTP_USER}
    - FTP_PASS=${FTP_PASS}
    ports:
      - "21:21"                  # Command port
      - "40000-40099:40000-40099"  # Passive ports (match CMD flag)
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    restart: always
    depends_on:
      - wordpress

  static-site:
    build: ./requirements/static-site
    container_name: static_site
    volumes:
      - static_site:/var/www/public
    networks:
      - inception
    restart: always

volumes:
  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/wordpress
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/mariadb
  redis_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/redis
  static_site:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/static_site

networks:
  inception:
    driver: bridge