services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file: .env
    environment:
    - MYSQL_DATABASE=${MYSQL_DATABASE}
    - MYSQL_USER=${MYSQL_USER}
    - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    - MYSQL_SECONDARY_USER=${MYSQL_SECONDARY_USER}
    - MYSQL_SECONDARY_USER_PASSWORD=${MYSQL_SECONDARY_USER_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    env_file: .env
    environment:
    - MYSQL_HOST=mariadb
    - MYSQL_DATABASE=${MYSQL_DATABASE}
    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    - MYSQL_USER=${MYSQL_USER}
    - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    - MYSQL_EMAIL=${MYSQL_EMAIL}
    - MYSQL_SECONDARY_USER=${MYSQL_SECONDARY_USER}
    - MYSQL_SECONDARY_USER_PASSWORD=${MYSQL_SECONDARY_USER_PASSWORD}
    depends_on:
      - mariadb
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    healthcheck:
      test: ["CMD", "php-fpm8.2", "-t"]   # or check if port 9000 is listening
      interval: 5s
      retries: 10
      start_period: 10s
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    env_file: .env
    environment:
    - DOMAIN_NAME=${DOMAIN_NAME}
    ports:
      - "443:443"
    depends_on:
      wordpress:
        condition: service_healthy
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    restart: always

volumes:
  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/wordpress
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/mariadb

networks:
  inception:
    driver: bridge